<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Chi tiết</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish : ${dishes}">
            <td th:text="${dish.id}"></td>
            <td th:text="${dish.name}"></td>
            <td th:text="${dish.description}"></td>
            <td th:text="${dish.price}"></td>
            <td>
                <a th:href="@{|/bai3/edit/${dish.id}|}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>